body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header, nav, section, footer {
    margin: 20px;
}

header {
    background-color: #e96a63;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #58bfba;
    font-weight: bold;
    font-size: 16px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}

video, img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
}

.video-container img {
    margin: 10px 0;
    width: 100%;
    max-width: 380px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    float: right; 
    margin-left: 150pxpx; 
    margin-top: 10px; 

}

h2 {
    color: #58bfba;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #414242;
    color: #fff;
}

